version: '3.8'
services:
  grafana:
    image: {{ grafana_image }}
    container_name: grafana
    restart: always
    volumes:
      - {{ grafana_data }}:/var/lib/grafana
      - {{ grafana_ini }}:/etc/grafana/grafana.ini
      - {{ grafana_datasources }}:/etc/grafana/provisioning/datasources/datasources.yml
    networks:
      - backend
      - proxy
    healthcheck:
      test: ["CMD","wget","-O","-","http://127.0.0.1:3000/api/health"]
      interval: 10s
      timeout: 5s
      retries: 3
    depends_on:
      - db
    labels: {{ grafana_traefik_labels }}
  db:
    image: {{ postgres_image }}
    container_name: monitoring_postgres
    restart: always
    environment:
      POSTGRES_DB: {{ grafana_db }}
      POSTGRES_USER: {{ grafana_db_user }}
      POSTGRES_PASSWORD: {{ grafana_db_password }}
    volumes:
      - {{ postgres_db_mount }}:/var/lib/postgresql/data
    networks:
      backend:
        aliases:
          - postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U {{ grafana_db_user }}"]
      interval: 10s
      timeout: 5s
      retries: 5
  prometheus:
    image: {{ prometheus_image }}
    container_name: prometheus
    restart: always
    networks:
      - backend
      - proxy
    expose:
      - '9090'
    volumes:
      - {{ prometheus_config }}:/etc/prometheus/prometheus.yml
      - {{ prometheus_data }}:/prometheus
      - {{ monitoring_folder }}/prometheus/certs:{{ monitoring_folder }}/prometheus/certs
    healthcheck:
      test: ["CMD","wget","-O","-","http://127.0.0.1:9090/status"]
      interval: 10s
      timeout: 5s
      retries: 3
    labels: {{ prometheus_traefik_labels }}
  loki:
    container_name: loki
    image: {{ loki_image }}
    networks:
      - backend
      - proxy
    volumes:
      - '{{ loki_config }}:/etc/loki/local-config.yaml'
    restart: always
    healthcheck:
      test: ["CMD","wget","-O","-","http://127.0.0.1:3100/ready"]
      interval: 10s
      timeout: 5s
      retries: 3
    labels: {{ loki_traefik_labels }}

networks:
  backend:
  proxy:
    external:
      name: traefik_backend
