# my global config
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"


# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']
        labels:
          host: {{ inventory_hostname }}
    relabel_configs:
      - source_labels: [ host ]
        target_label: instance

  - job_name: 'node_exporter'
    scheme: https
    tls_config:
      ca_file: {{ monitoring_folder }}/prometheus/certs/ca.crt
      cert_file: {{ monitoring_folder }}/prometheus/certs/{{ prometheus_fqdn }}.crt
      key_file: {{ monitoring_folder }}/prometheus/certs/{{ prometheus_fqdn }}.key
    static_configs:
{% if 'agents' in groups %}
{% for node in groups['agents'] %}
      - targets: [ {{ hostvars[node].ansible_host }}:9100 ]
        labels:
          host: '{{ node }}'
{% endfor %}
{% endif %}
    relabel_configs:
      - source_labels: [ host ]
        target_label: instance
